html,
body {
  height: 100%;
}
body{
    background-color: #252b33;

}
.cc-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    padding: 1em;
    height: 5.625rem;
    background-color: #1f252d;
}
.cc-logo{
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #189541; ;
}
.cc-ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0 1rem;
}
a{
    color: white;
}

.cc-content{
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 40px 0 40px 0;
    font-size: 0.9em;

 
} 


.cc-btn{
    background-color: #189541;
    color: #fff;
    text-align: center;
    cursor: pointer;
	background: transparent;
	border: 1px solid #189541;
	height: 35px;
	line-height: 35px;
	padding: 0px 20px;
	display: inline-block;
	margin-bottom: 10px;
}
.cc-btn:hover{
    background: #189541;
}


.cc-footer{
    height: 5.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2126;
    flex-shrink: 0;
    font-size: 12px;
    padding: 0 20px;
}
 


h1{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}


#users {
    font-size: 20px;
    color: white;
    width: 500px;
    height: 500px;
    border: 1px solid rgb(255, 25, 25);
    

}



    

.item {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(255, 25, 25);
}
